@using Newtonsoft.Json
@using API.RareCarat.Example.Model
@model APIResponse
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Rare Carat API Example - .NET Core</title>
    <link rel="stylesheet" href="https://api.rarecarat.com/css/site.min.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Rare Carat API</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://api.rarecarat.com">API Documentation</a>
            </li>
        </ul>
    </nav>

    <div class="hero">
        <div class="container">
            <div class="">
                <h1>.NET Core - DELETE</h1>
                <p>
                    This page executes a DELETE to /diamonds to delete resources or a specific resource. Feel free to email us at <a href="mailto:api@rarecarat.com">api@rarecarat.com</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="">
                <section>
                    <h2 class="page-header">HTTP Response Code</h2>
                    <p>
                        <code>@Model.StatusCode</code>
                    </p>
                    <h2 class="page-header">HTTP Response Body</h2>
                    @if (Model.StatusCode >= 200 && Model.StatusCode < 299)
                    {
                        <pre>@JsonConvert.SerializeObject(JsonConvert.DeserializeObject(Model.Content), Formatting.Indented)</pre>
                    }
                    else
                    {
                        <pre>@Model.Content</pre>
                    }
                </section>
            </div>
        </div>
    </div>
</body>
</html>